body{
    background-color: wheat;
}
li{
    width: 1000px;
    height: 1000px;
    margin: 5px;
}
h1{
    background-color: green;
    margin: 10px;
    color: gold;
    font-size: 30px;
    font-family:cursive
}